@import "~bootstrap/dist/css/bootstrap.css";

.body-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100%;
    margin-top: 5em;
    margin-bottom: 5em;
}
